//Primary Color

$first-color: #e28625;
$second-color: #006971;
$third-color: #004140;

// Neutral

$main-paragraph-color: #ffffff;
$card-heading-color: #f2f2f2;

//font-weights

$light: 400;
$semi-bold: 700;
